  .App {
  text-align: center;
  }


 nav {
   padding: 1em;
   display: flex;
   justify-content: space-around;
   align-items: center;
   min-height: 15vh;
   background-color: teal;
   color: white;
   
 }

 .nav-links{
   width: 80%;
   display: flex;
   justify-content: space-around;
   align-items: flex-start;
   list-style: none;
   padding-top: 40px;
 }

 label, legend {
   text-align: right;
 }

 .footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 5vh;
  background-color: teal;
  color: white;
  margin-top: 5em;
  }

  .homeLinks {
    color: white;
  }

  .homeLinks:hover {
    color: white;
  }

  .link {
    color: black;
    text-shadow: 2px 2px 5px rgb(161, 161, 161);
  }

  .link:hover {
    color: black;
    text-shadow: 2px 2px 5px rgb(161, 161, 161);
  }


  .display-4 {
    text-shadow: 2px 2px 4px white;
  }

  .slider-container {
    width: 60%;
    height: 60%;
}