  .App {
  text-align: center;
  }


 nav {
   padding: 1em;
   display: flex;
   justify-content: space-around;
   align-items: center;
   min-height: 15vh;
   background-color: rgb(187, 182, 172);
   color: white;
   
 }

 .nav-links{
   width: 80%;
   display: flex;
   justify-content: space-around;
   align-items: flex-start;
   list-style: none;
   padding-top: 40px;
 }

 label, legend {
   text-align: right;
 }

 .footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 5vh;
  background-color: rgb(187, 182, 172);
  color: white;
  margin-top: 5em;
  }

  .homeLinks {
    color: white;
  }

  .homeLinks:hover {
    color: white;
  }

  .link {
    color: rgb(78, 72, 60);
  }

  .link:hover {
    color: rgb(78, 72, 60);

  }



  .slider-container {
    width: 60%;
    height: 60%;
}

.share {
  color: rgb(78, 72, 60);
}

.card-title {
  color: rgb(78, 72, 60);
}

h3 {
  color: rgb(78, 72, 60);
}

.formerrors{
  color : red;
  font-size: smaller;

}